body{
    margin: 0;
    font-family: 'Montserrat', 'Arial', sans-serif;
    /* Lurer på om Montserrat ikke kommer med chrome vanligvis, bør diskuteres.*/
}

h1 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.content {
    margin-right: 15%;
    margin-left: 10%;
    max-width: 900px;
}


li{
    list-style: none;
    display:inline-block; /* Denne linja gjør at liste-elementene kommer på samme1 linje 
    (som er vanlig i en navbar) men gjør at vi ikke kan angi bredde eller høyde på elementene i seg 
    selv, men vi kan fortsatt endre på størrelsen på ting inni dem, som tekst og bilder (se #whitelogo)*/
    padding-left: 10px;
    padding-right: 10px;  
}

.navbar {
    background-color: #1C93B8;
    margin-top: 0;
    padding-left: 10%;
    padding-right: 15%;
}

footer {
    background-color: #1C93B8;
    position:fixed; 
    bottom: 0; 
    line-height: 40px; 
    color:white; 
    height:40px; 
    width: 100%; 
    left:0;
    padding-left: 10%;
}

a:link { color: white; text-decoration: none; }
a:visited { color:white; text-decoration: none; }
a:hover { color:white; text-decoration: underline; }
a:active { color:white; text-decoration: underline; }

#currentpage{
    background-color: rgb(120, 182, 201);
}

#whitelogo {
    height: 35px;
    /* Har noen problemer med å sette bildet riktig, med riktig størrelse osv sånn at det ikke fucker med andre ting. -VH*/
}
#home-element {
    vertical-align: middle;
}

.title {
    text-align: center;
}

.resources {
    text-align: center;
}

.docicon {
    width: 100px;
    height: 100px;
    background-color: #1C93B8;
    vertical-align: middle;
}

.provimg {
    width: 150px;
}

textarea {
    width: 49%;
    height: 200px;
}

#providers{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#postnummerlabel {
    text-align: left;
}

#postnummerinput {
    width: 50x;
    height: 34px;
    font-size: 22px;
    border: #1C93B8 solid 2px;
    vertical-align: bottom;
    text-align: center;
}

#providersubmit {
    width: 50px;
    height: 40px;
    background-color: #1C93B8;
    border: 0px;
}

#providerimage {
    display: none;
}

#pakketabell {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#pakketabell, th, td {
    border: 4px solid #1C93B8;
    border-collapse: collapse;
    padding: 10px;
}

.check {
    background-color: #aeefb3;
}

.cross {
    background-color: #efaeae;
}

th {
    width: 160px;
}

#tabellpris {
    width: 70px;
}

ul {
    padding: 0px; /*lagt til fordi en rar padding på resourcene under Support gjorde at det ikke var sentrert */
}

#supportform {
    border: 3px solid #1C93B8;
    margin-right: auto;
    margin-left: auto;
    width: 480px;
    border-radius: 6px;
    font-size: 20px;
    background-color: #1C93B8;
    padding-top: 3px;
    color: white;
}

#supportepost, #supportmelding, #supportnavn {
    width: 90%;
    padding: 5px;
    border-radius: 6px;
    font-size: 16px;
    border: 2px solid white;
    margin-top: 8px;
    margin-bottom: 8px;
    color: #1C93B8;
}

#supportsubmit{
    font-size: 14px;
    background-color: #1C93B8;
    border-radius: 3px;
    border: 2px solid white;
    margin-bottom: 5px;
    color: white;
    height: 30px;
}

#supportepost, #supportnavn {
    text-align: center;
}

#pakkeListe {
    list-style:none;
    display: block;
}

#pakkeListe > li {
    height: 200px;
    width: 900px;
}

#pakkeListe > li > .image{
    width: 200px; height: 200px;
    float:left;
}

#pakkeListe > li > .content{
    margin-top: 70px;
    height: 200px;
}
