body{
    margin: 0;
    font-family: 'Montserrat', 'Arial', sans-serif;
    /* Lurer på om Montserrat ikke kommer med chrome vanligvis, bør diskuteres.*/
}

h1 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.content {
    margin-right: auto;
    margin-left: auto;
    max-width: 900px;
}


li{
    list-style: none;
    display:inline-block; /* Denne linja gjør at liste-elementene kommer på samme1 linje 
    (som er vanlig i en navbar) men gjør at vi ikke kan angi bredde eller høyde på elementene i seg 
    selv, men vi kan fortsatt endre på størrelsen på ting inni dem, som tekst og bilder (se #whitelogo)*/
    padding-left: 10px;
    padding-right: 10px;  
}

.navbar {
    background-color: #1C93B8;
    margin-top: 0;
    padding-left: 14%;
    padding-right: 12%;
}

/* footer */

footer {
    background-color: #1C93B8;
    position: fixed; 
    bottom: 0; 
    line-height: 15px; 
    color: white; 
    height: 40px; 
    width: 100%; 
    left:0;
}

#footertable {
    width: 100%;
}

.footercell {
    border: none;
    padding: 10px;
}

#footerleft {
    width: 40%;
    text-align: left;
}

#footercenter {
    width: 20%;
    text-align: center;
}

#footerright {
    width: 40%;
    text-align: right;
}

/* end footer */

a:link { color: white; text-decoration: none; }
a:visited { color:white; text-decoration: none; }
a:hover { color:white; text-decoration: underline; }
a:active { color:white; text-decoration: underline; }

#currentpage{
    background-color: rgb(120, 182, 201);
}

#whitelogo {
    height: 35px;
    /* Har noen problemer med å sette bildet riktig, med riktig størrelse osv sånn at det ikke fucker med andre ting. -VH*/
}
#home-element {
    vertical-align: middle;
}

.title {
    text-align: center;
}

.resources {
    text-align: center;
}

/* support table */

#supporttable {
    margin-right: auto;
    margin-left: auto;
    font-size: 12px;
    border-collapse: collapse;
}

.supportheader, .supportcell {
    width: 150px;
    border: 10px solid white;
    background-color: #1C93B8;
}

.supportheader {
    height: 100px;
}

.supportcell {
    height: 30px;
}

/*end support table */

.provimg {
    width: 150px;
}

textarea {
    width: 49%;
    height: 200px;
}

#providers{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#postnummerinput {
    width: 150px;
    height: 34px;
    font-size: 16px;
    border: #1C93B8 solid 2px;
    vertical-align: bottom;
    text-align: center;
    color: #1C93B8;
}

#providersubmit {
    width: 50px;
    height: 40px;
    background-color: #1C93B8;
    border: 0px;
    color: white;
    font-size: 16px;
}

#providerimage {
    display: none;
}

/* pristabell */

#pakketabell {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#pakketabell, .prisheader, .priscelle {
    border: 4px solid #1C93B8;
    border-collapse: collapse;
    padding: 10px;
}

.check {
    background-color: #aeefb3;
}

.cross {
    background-color: #efaeae;
}

.prisheader {
    width: 160px;
}

#tabellpris {
    width: 70px;
}

/* end pristabell */

ul {
    padding: 0px; /*lagt til fordi en rar padding på resourcene under Support gjorde at det ikke var sentrert */
}

/* supportform */

#supportform {
    border: 3px solid #1C93B8;
    margin-right: auto;
    margin-left: auto;
    width: 480px;
    border-radius: 6px;
    font-size: 20px;
    background-color: #1C93B8;
    padding-top: 3px;
    color: white;
}

#supportepost, #supportmelding, #supportnavn {
    width: 90%;
    padding: 5px;
    border-radius: 6px;
    font-size: 16px;
    border: 2px solid white;
    margin-top: 8px;
    margin-bottom: 8px;
    color: #1C93B8;
}

#supportsubmit{
    font-size: 14px;
    background-color: #1C93B8;
    border-radius: 3px;
    border: 2px solid white;
    margin-bottom: 5px;
    color: white;
    height: 30px;
}

#supportepost, #supportnavn {
    text-align: center;
}

/* end supportform */

#pakkeListe {
    list-style: none;
    display: block;
}

#pakkeListe > li {
    height: 200px;
    width: 900px;
}

#pakkeListe > li > .image{
    width: 200px; height: 200px;
    float:left;
}

#pakkeListe > li > .content{
    margin-top: 70px;
    height: 200px;
}

/* Start of styling for "home.html" */

.home__content-section {
    clear: both;
    padding: 1em;
    margin-bottom: 20px;
}

.home__content-section > a { color: black; text-decoration: none; }

.home__content-section--heading {
    text-align: center;
}

.home__image {
    width: 250px;
    padding: 1em;
}

.home__image--right-side{
    float: right;
}

.home__image--left-side{
    float: left;
}

/* End of styling for "home.html" */

/* Start of styling for careousel on "packages.html" */

.careousel-container {
    width: 100%;
    min-height: 525px;
    border-bottom: thin solid #1C93B8;
}

.careousel-content {
    width: 100%;
}

.careousel-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.careousel-text {
    text-align: center;
}

.hidden {
    display: none;
}

.active-slide{
    display: block;
}
